.faq-title {
  font-family: "Montserrat", sans-serif;
  margin-top: 100px;
  text-align: center;
}

.question {
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 5%;
  font-size: 9px;
  font-family: Montserrat;
  color: #a6a6a6;
}

.answer {
  margin-left: 10%;
  margin-top: 25px;
  font-size: 12px;
  color: black;
  font-family: Montserrat;
}

main {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .faq-title {
    margin-top: 50px;
    font-size: 48px;
  }

  .question {
    font-size: 18px;
  }

  .answer {
    font-size: 24px;
  }
}
